.app-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.todo-container {
  width: 100%;
  max-width: 650px;
  background: #2a5797;
  border-radius: 20px;
  padding: 25px;
}

.main-input, .add-btn, .controls select, .controls input {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 15px;
  background: #fff;
  outline: none;
}

.input-section, .controls {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.main-input { flex: 1; }

.add-btn {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #000;
  color: #fff;
}

.controls .category-sel { background-color: #e3f2fd; }
.controls .date-input { background-color: #f3e5f5; }
.controls .priority-sel { background-color: #fff3e0; }


.todo-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid hwb(0 98% 1% / 0.911);
  border-radius: 12px;
  padding: 12px 15px;
  margin-top: 10px;
}
.todo-item-row:hover {
  transform: translateY(-2px); 
}


.badges {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badges span {
  border: 1.5px solid #000;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}
.item-category { background-color: #e3f2fd; color: #0d47a1; }
.item-date { background-color: #f3e5f5; color: #4a148c; }

.item-priority.low-priority {
   background: #c8e6c9; 
   color: #1b5e20; }
.medium-priority { 
  background: #ffe082; 
  color: #7f4d00; }
.high-priority {
     background: #ffcdd2; 
     color: #b71c1c; }
.no-priority {
   background: #f5f5f5;
    color: #888; }

.del-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: rgb(35, 33, 33);
}
.del-icon:hover {
  transform: scale(1.2); 
}

.empty-msg {
  text-align: center;
  color: #fff;
  opacity: 0.8;
  margin-top: 20px;
}

.add-category-box {
  background: #0f1e3a;
  padding: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  margin: 15px 0;
  max-width: 220px;
}

